<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Детали заказа</title>
</head>
<body>

<th:block th:include="/_menu"></th:block>


<div class="container">

    <br>
    <h2 class="card-text"> Детали заказа №: <span th:text= "${order.getOrderCode()}"></span></h2>

    <h5 class="card-text"> Статус заказа: <span th:text= "${order.getStatus()}"></span></h5>

    <br>

    <h2 class=""> Список товаров заказе: </h2>

    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Модель</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${detailedOrdersList}">

            <td th:text="${item.Model().getModel()}"></td>
            <td th:text="${item.getCounts()}"></td>
            <td th:text="${item.Price()}"></td>

        </tr>
        </tbody>
    </table>


</div>




</div>


</body>
</html>