<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Детали заказа</title>
</head>
<body>

<th:block th:include="/_menu"></th:block>


<div class="container">

    <br>
    <h2 class="card-text"> Информация о пользователе: <span th:text= "${user.userName}"></span></h2>



    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Password</th>


        </tr>
        </thead>
        <tbody>
        <tr t>

            <td th:text="${user.getUserId()}"></td>
            <td th:text="${user.encrytedPassword}"></td>

        </tr>
        </tbody>
    </table>


</div>


