<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>







<div class="container">
    <div class="row  justify-content-md-center">

        <h2 class="DefMargin brd"> Список товаров: </h2>



                    <div th:each="item : ${ItemsList}" class="col-md-4" style="height:410px;">
                        <div class="card" style="margin:30px;">
                                <h3 class="card-text" th:text="${item.getModel()}"></h3>
                                <img th:src="${item.getPicture()}" class="card-img-top" alt="..." style="width:320px; margin:5px;">

                            <div class="card-body">

                                <p class="card-text"> Бренд: <span th:text= "${ item.getBrandId().BrandName()}"></span></p>
                                <p class="card-text"> Категория: <span th:text= "${ item.getGroupId().SectionName()}"></span></p>
                                <p class="card-text"> Цена: <span th:text= "${ item.Price()}"></span> руб.</p>

                                <form th:action="@{/Shop/Cart{id}(id=${item.id()})}" th:object="${item}" method="post" style="display:inline;">
                                    <input type="submit" value="add to cart" class="btn btn-primary"/>
                                </form>
                            </div>

                        </div>

                    </div>



    </div>
</div>

</body>

</html>